body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    margin: 0px auto 0px auto;
    width: 900px;
}
.blue {
    background-color: rgb(255, 170, 0);
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.skyblue {
    background-color: skyblue;
}

.blue2 {
    background-color: #00fffb;
}

.blue4 {
    background-color: #b1072fb6;
}

.blue3 {
    background-color: hsla(280, 100%, 50%, 0.677);
}

.yellow {
    background-color: yellow;
}

li {
    color: rgb(0, 0, 0);
}

footer {
    background-color: black;
}

footer p {
    color: rgb(255, 255, 255);
}

header {
    background-color: black;
    padding: 10px;
}

.link-header {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}

.link-header:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

ul li {
    font-size: 20px;
}
p {
    font-size: 20px;
}

.link-text:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.link-nav {
    margin-right: 30px;
    text-decoration: none;
    border: 2px double rgb(0, 0, 0);
    padding: 10px;
}

.link-nav:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}
ol li{
    font-size: 22px;
}

.info1 {
    margin-right: 39px;
}
